* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

body {
    background: grey;
    color: red;
    overflow: hidden;
    overflow-y: scroll;
}